* {
    font-family: 'Zilla Slab', serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #f5f7fa, #c3cfe2);
    color: rgb(90, 90, 90);
}

.body_wrapper {
    display: grid;
    grid-template: minmax(auto, 90px) 1fr  minmax(auto, 50px) / 1fr;
    min-height: 100vh;
}

/* Header styles */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

/* Greetings */

.header_greetings {
    display: flex;
    align-items: center;
}

.header_greetings > label {
    padding: 10px;
}

.greatings_name {
    background: transparent;
    border: none;
    width: 80%;

    font-family: 'Zilla Slab', serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(90, 90, 90);
}

.greatings_name::placeholder {
    color: rgb(121, 199, 191);
}

.greatings_name:focus {
    outline: none;
}

/* Clock */

.header_clock {
    display: flex;
    justify-content: center;
}

.header_clock-wrapper {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

/* Weather */

.header_weather-location {
    margin-right: 5px;
}

.header_weather-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Header styles end */

/* Main style */

.main {
    padding: 15px;
}

/* Create todo section */

.create_todo > h1 {
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px rgba(90, 90, 90, .3);
}

.todo_form-label {
    margin: 15px auto;

    font-weight: 500;
}

#content {
    width: 100%;
    padding: 10px;

    background: linear-gradient(90deg, #e8ebf0, #f5f7fa);
    border-radius: 4px;
    border: 1px solid #e2e5e9;

    font-size: 1rem;
}

#content:focus {
    outline: none;
    border: 1px solid #caced2;
}

/* Categories section */

.todo_options {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;

    position: relative;
}

.todo_options > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 80px;

    background: linear-gradient(90deg, #e8ebf0, #f5f7fa);
    border-radius: 8px;
    border: 1px solid #e2e5e9;
}

.category_name {
    margin-top: 5px;
}

.category > input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.business_bubble {
    position: relative;
}

.personal_bubble {
    position: relative;
}

.business_bubble::before {
    content: "";
    width: 13px;
    height: 13px;

    border-radius: 50%;
    border: 1px solid rgb(121, 199, 191);

    display: inline-block;
    background-color: #e2e5e9;
    box-shadow: 0px 0px 25px rgb(121, 199, 191);
}

.personal_bubble::before {
    content: "";
    width: 13px;
    height: 13px;

    border-radius: 50%;
    border: 1px solid rgb(180, 127, 226);
    
    display: inline-block;
    background-color: #e2e5e9;
    box-shadow: 0px 0px 25px rgb(180, 127, 226);
}

.business_bubble::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    width: 9px;
    height: 9px;
    background-color: rgb(121, 199, 191);
    border-radius: 50%;
    opacity: 0;
}

.personal_bubble::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    width: 9px;
    height: 9px;
    background-color: rgb(180, 127, 226);
    border-radius: 50%;
    opacity: 0;
}

.category input:checked + span::after{
    opacity: 1;
}

.add_todo {
    width: 100%;
    padding: 10px;

    background-color: rgb(121, 199, 191);
    border: 1px solid #e2e5e9;
    border-radius: 8px;
    color: #f8f8f8;

    font-weight: 500;
    font-size: 1rem;
}

.add_todo:hover {
    background-color: rgb(108, 191, 181);
}

/* Render todo section */

.render_todo {
    width: 100%;
}

.render_todo-heder {
    display: flex;
    justify-content: space-between;

    margin: 30px auto;
    width: 90%;
}

.render_todo-label {
    text-shadow: 1px 1px 3px rgba(90, 90, 90, .3);
}

.select_tasks {
    background: linear-gradient(90deg, #e8ebf0, #f5f7fa);
    border-radius: 4px;
    border: 1px solid #e2e5e9;
    text-align: center;

    color:rgb(90, 90, 90);
    padding: 0 3px;
}

.select_tasks:focus {
    outline: none;
    border: 1px solid #caced2;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.todo_content {
    width: 65%;
}

#todo_content {
    width: 100%;
    padding: 8px;

    background: linear-gradient(90deg, #e8ebf0, #f5f7fa);
    border-radius: 4px;
    border: 1px solid #e2e5e9;
    font-size: 1rem;
}

#todo_content:focus {
    outline: none;
    border: 1px solid #caced2;
}

.todo_done {
    text-decoration: line-through;
    color: rgba(90, 90, 90, .5);
}

.todo_action > button {
    background: linear-gradient(90deg, #e8ebf0, #f5f7fa);
    border-radius: 4px;
    border: 1px solid #e2e5e9;

    padding: 3px;
}

/* Main style end */

/* Footer style */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > span {
    margin-top: 3px;
}

/* Footer style end */